// Theme Colors
$color-primary: #fc0;
$color-secondary: #28616b;
$color-success: #008530;
$color-danger: #d00000;
$color-warning: #6e868e;
$color-lig: #6e868e;
$color-info: #d7eed1;

// Base Colors
$color-white: #fff;
$color-black: #000;
$color-silver: #ccc;
